.header {
    background: $color-gradient-gray-10;
}

.__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    

    .logotype {
        flex: 1;
        justify-content: flex-start;

        a {
            font-weight: $font-weight-bold;
            font-size: 2.2rem;
        }
    }


    .nav-links {
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            margin: 0 1rem;
            text-align: center;
            font-weight: $font-weight-medium;
        }
    }

    .nav-icon-links {
        flex: 1;
        display: flex;
        justify-content: flex-end;

        a {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            margin-left: 1.25rem;
            height: 2.25rem;
            width: 2.25rem;
            background-color: $color-white;
            color: $color-dark;
            border-radius: $border-radius-rounded;
            box-shadow: 0 0 8px rgb(190, 190, 190);
            transition: background-color 0.3s ease-in-out;

            &:first-child {
                margin-left: 0;
            }

            &:hover {
                background-color: $color-theme;
                color: $color-dark;
            }

            .badge {
                background-color: $color-theme;
                position: absolute;
                font-size: 0.69rem;
                width: 1rem;
                height: 1rem;
                padding: 3px 0 0 0;
                top: -0.3rem;
                left: 1.4rem;
                transition: background-color 0.3s ease-in-out;
            }

            &:hover .badge {
                background-color: $color-dark;
            }
        }
    }
}


.__navbar-white {
    background: none;
}