.site-title {
    margin-left: 405px;
    margin-right: 405px;
    margin-bottom: 2.25rem;

    i {
        height: 1rem;
        width: auto;
    }

    span {
        font-weight: $font-weight-medium;
    }
}

.map {
    width: 100%;
    height: auto;
}