.special-deal {
    margin-top: 4rem;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    
    .flash-sale {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: $color-gray-47;
        width: 825px;
        height: 669px;
        margin: 0;
    }

    .row {
        margin: 0;
    }
}