@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

$color-theme: #FF7373;
$color-theme-dark: #222529;
$color-white: #ffffff;

$color-gradient: linear-gradient(90deg, rgba(231,231,231,1) 0%, rgba(245,245,245,1) 100%);

$color-gray-5: #f8f8f8;
$color-gray-10: #ECECEC;
$color-gray-20: #E8E8E8;

$font-poppins: 'Poppins', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

$font-size-60: 3.75rem;
$font-size-20: 1.25rem;

$border-radius-small: 8px;
$border-radius-medium: 25px;
$border-radius-rounded: 50%;

$breakpoint-sm: 576px;
$breakpoint-sm-max-width: 540px;
$breakpoint-md: 768px;
$breakpoint-md-max-width: 720px;
$breakpoint-lg: 992px;
$breakpoint-lg-max-width: 960px;
$breakpoint-xl: 1200px;
$breakpoint-xl-max-width: 1140px;
$breakpoint-xxl: 1450px;
$breakpoint-xxl-max-width: 1420px;
$breakpoint-fluid: 1700px;
$breakpoint-fluid-max-width: 1684px;
@import "./breakpoints";